<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Business</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BuinessServlet</servlet-name>
    <servlet-class>controller.servlet.BuinessServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>controller.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>backstageServlet</servlet-name>
    <servlet-class>controller.servlet.backstageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addressServlet</servlet-name>
    <servlet-class>controller.servlet.addressServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>changeinfo</servlet-name>
    <servlet-class>controller.servlet.changeinfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>inserinfo</servlet-name>
    <servlet-class>controller.servlet.inserinfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>showorder</servlet-name>
    <servlet-class>controller.servlet.showorder</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>BuinessServlet</servlet-name>
    <url-pattern>/servlet/BuinessServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/servlet/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>backstageServlet</servlet-name>
    <url-pattern>/servlet/backstageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addressServlet</servlet-name>
    <url-pattern>/servlet/addressServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changeinfo</servlet-name>
    <url-pattern>/servlet/changeinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>inserinfo</servlet-name>
    <url-pattern>/servlet/inserinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showorder</servlet-name>
    <url-pattern>/servlet/showorder</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>web/main.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>